
.button_update_avatar {
    width: 24px;
    height: 24px;
    background: transparent url('../../images/edit-icon.svg') center no-repeat;
    background-size: 26px 26px;
    border: none;
    grid-area: button;
    align-self: center;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    padding: 0;
    margin: 0;
    visibility: hidden;
  }
  
  .button_update_avatar:hover {
    visibility: visible;
  }
  
  /* @media screen and (max-width: 480px) {
    .button_update_avatar {
      width: 18px;
      height: 18px;
      background-size: 8px 8px;
    }
  } */