
.button_update_avatar {
    width: 24px;
    height: 24px;
    background: transparent url('../../images/edit-icon.svg') center no-repeat;
    background-size: 26px 26px;
    border: none;
    align-self: center;
    cursor: pointer;
    padding: 47px;
    margin: 0;
    /* visibility: none; */
  }
  
  /* .button_update_avatar:hover {
    visibility: visible;
  } */
  
  /* @media screen and (max-width: 480px) {
    .button_update_avatar {
      width: 18px;
      height: 18px;
      background-size: 8px 8px;
    }
  } */